@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=IBM+Plex+Sans+Thai+Looped:wght@500&family=Open+Sans:wght@300&display=swap');
body{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: cyan;
	font-family: "Open Sans";
}	


article .image{
	height: 180px;
	width: 300px;
	background-image: url("image.jpg");
	background-size: cover;
	background-position: center;	
	padding: 20px;
}

article .text{
	height: 250px;
	width: 300px;
	background-color: white;
	padding: 20px;	
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	flex-direction: column;

}

article .text .header{
	text-transform: uppercase;
}
article .text .footer{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

article .box{
	background-color: red;
	color: white;
	text-transform: uppercase;
	padding: 6px;
	position: absolute;
	left: 0px;
	top: 186px;	
}


article {
	position: relative;
	}