body{
background-color: green;
}
.img1{
    width: 300px;
    margin: 50px;
    border: 10px dotted green;
    border-radius: 30px;
    float: left;
}
p{
  color: white;
}
.img1{
    width: 300px;
    margin: 50px;
    border: 10px dotted green;
    border-radius: 30px;
    float: left;
 