h2{
	font-size: 25px;
	padding: 30px;
	background-color: rgb(51,51,255);
	display: inline-block;   }
	

.blue{
	 background-color: blue;
	 font-size: 30px;
}


.green{
	background-color: green;
	letter-spacing: 6px;
}



a{
	display: block;	
	padding: 30px;
	margin: 10px;
	border: 3px solid blue;
	background-color: lightblue;
}

.red{
	background-color: red;
	letter-spacing: 6px;
}

.yellow{
	background-color: yellow;
	letter-spacing: 6px;
}


     
.one{
	background-color: #802264;
}
.two{
	background-color: #229203;
}

.three{
	background-color: rgb(119, 119, 119);
}

.four{
	background-color: #4287f5;
}

.five{
	background-color: #eb4034;
}

.six{
	background-color: rgb(	67, 52, 235);

}
.seven{
	background-color: #eb34d3;
}

.eight{
	background-color: rgb(235, 214, 52	);
}

.nine{
	background-color: #ebd634;
}

.ten{
	background-color: #eb9f34;
}

img{
    width: 250px;
    height:200px;
}